keras
numpy==1.21
tensorflow
# get that GPU speed!
# tensorflow-gpu
pandas

theano

scikit-learn
statsmodel

# tools
jupyterlab
matplotlib
seaborn

# utils
autopep8
pylint
html5lib
pydot

# Image libraries
opencv-python
# required for PIL -- image manipulation, at least in gan.py
pillow
